<div class="mt-4">
  <div>
    <h3>Sản phẩm đã xóa</h3>
    <a href="/store/Product/laptop" ><span class="material-symbols-outlined">arrow_back</span></a>

</span></a>
  </div>
  

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên sản phẩm</th>
        <th scope="col">Hình ảnh</th>
        <th scope="col">Gía tiền</th>
        <th scope="col">Thay đổi</th>
      </tr>
    </thead>
    <tbody>
      {{#each Laptops}}
      <tr>
        <th scope="row">{{sum @index 1}}</th> {{!--Dùng hàm gọi từ index/src để lấy hàm SUM được dùng từ index với index là đối sô thứ 1 và số 1 là đối số thứ 2--}}
        <td>{{this.Name}}</td>
        <td><img src="{{this.Image}}" alt="" class="img-small"></td>
        <td>{{this.Price}}</td>
        <td>
          <a href="" class="btn btn-light btn-restore" data-id="{{this._id}}">Khôi phục</a><br><br> {{!--Dùng Slug để khi Public cho người dùng cuối để tìm kiếm--}}
          <a href="#"class="btn btn-light" data-id="{{this._id}}" data-toggle="modal" data-target="#delete">Xóa vĩnh viễn</a>
        </td>
      </tr>
    </tbody>
    {{else}}
    <tr>
      <td colspan="5" class="text-center">
        <h2>Không có sản phẩm nào trong thùng rác.</h2>
      </td>
    </tr>
    {{/each}}
  </table>
</div>
{{!--Confirm delete data --}}
<div id="delete" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bạn có chắc muốn xóa sản phẩm này không</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6>Bấm xác nhận để xóa</h6>
      </div>
      <div class="modal-footer">
        <button id="btn-delete" type="button" class="btn btn-danger">Xác nhận xóa</button>
        <button  type="button" class="btn btn-primary" data-dismiss="modal">Hủy bỏ</button>
      </div>
    </div>
  </div>
</div>
{{!-- delete hidden form --}}
<form method="POST" name="delete-form"> </form>
<form method="POST" name="restore-form"> </form>
<script>
  // lắng nghe sự kiện khi DOM load khi DOM đã tải xong nó sẽ gọi vào callback function đối số thứ 2 của nó
    document.addEventListener('DOMContentLoaded', function(){
      var productID
      var deleteForm = document.forms['delete-form'] 
       // dùng để lắng nghe nút xóa
      var restoreForm = document.forms['restore-form'] 
      var btnDelete = document.getElementById('btn-delete')
      var btnRestore = $('.btn-restore')
      // Khi click 
    $("#delete").on('show.bs.modal', function (event){
     var button = $(event.relatedTarget) // nút đã kích hoạt phương thức
     productID = button.data('id') // trích xuất thông tin từ dữ liệu
      })
    // lắng nghe sự kiện khi bấn vào btn
    btnDelete.onclick = function(){
          deleteForm.action = '/product/' + productID + '/Force?_method=DELETE'
          deleteForm.submit()
      }
    //restorebtn click 
    btnRestore.click(function(event){// thêm sự kiện để bỏ hành vi mặc định của thẻ HTML ở đây do ta dùng thẻ a nên khi bấm vào thì nó sẽ reset lại chính trang đó
      event.preventDefault() // xóa bỏ sự kiện mặc định
      var productID = $(this).data("id")
          restoreForm.action = '/product/' + productID + '/restore?_method=PATCH'
          restoreForm.submit()
    
      })
    })
   
</script>





