<div class="mt-4">
    <div class="row">
        <div class="col-sm-8" > 
            <h4>{{Laptop.Name}}</h4>
            <img src="{{Laptop.Image}}"><br>
            <a>
                ✔ Bảo hành chính hãng 12 tháng.<br>

                ✔ Hỗ trợ đổi mới trong 7 ngày. <br>

                ✔ Windows bản quyền tích hợp. <br>

                ✔ Miễn phí giao hàng toàn quốc.
            </a>
            <div class="image-small">
                <div></div><img style="width:64px; height:64px; left:0px; top: 0px;" src="{{Laptop.Image}}">
                <img style="width:64px; height:64px; left:0px; top: 0px" src="{{Laptop.Image}}">
                <img style="width:64px; height:64px; left:0px; top: 0px" src="{{Laptop.Image}}">
            </div>
        </div>
        <div class="col-sm-4">
            
        </div>
    </div>
</div>